body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}



nav ul{
    display: flex;
    list-style: none;

}
nav li {
  margin-right: 20px;
}
nav  a{
    color: blue;
    text-transform: uppercase;
    text-decoration: none;

}
a:hover{
    background:#1bf7ff ;
    transition: .5s;
}
nav {
    float: right;
}

        body {
            margin: 0;
            overflow: hidden; 
        }

        #video-background {
            position: absolute;
            top: -14;
            left: -20;
            width: 100%;
            height: 67%;
            object-fit: cover;
            background: rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
            z-index: -1; 
            overflow: hidden;
            border-radius: 20px;
        }

        #content {
            z-index: 1; 
            position: relative;
            color: #fff; 
            text-align: center;
            padding: 150px;
        }
        

.title{
    font-size: 25px;
    font-weight: bold;
}
.program-paragraph {
    font-size: 18px;
    margin-top: 15px;
}

.phd-style{
    background-color: #f0f0f0;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 23%; 
    text-align: center;
}
.Mphil-program-stye{
    background-color: #f0f0f0;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 24%; 
    text-align: center;
}
.shortc-program{
    background-color: #f0f0f0;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 24%; 
    text-align: center;
}
.undergraduate-program{
    background-color: #f0f0f0;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 24%; 
    text-align: center;
}

.events-image{
    width: 50%;
    padding: 150px;
    bottom: 0;
    padding-top: 1500px;
}